.ArrowButton {
  display: flex;
  justify-content: center;

  .arrowLeftRight {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--unnamed, #7F7F7F);
    display: flex;
    justify-content: center;
  }

  h4 {
    display: flex;
    justify-content: center;
    width: 14px;
    padding: 3px 7px 0 7px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--unnamed, #7F7F7F);
  }
}