.FeedbackCart {
  padding: 24px;
  margin: 12px 12px 0 12px;
  width: 240px;
  height: 360px;
  border-radius: 20px;
  background: var(--unnamed, #ECF8FF);

  .userName {
    display: flex;
    align-items: end;
    width: min(100% - 2rem, 120px);
    color: var(--unnamed, #161616);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
  }

  .commentMessage {
    text-align: left;
    margin-top: 16px;
    color: var(--unnamed, #161616);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 21px */
  }

  .avatar img {
    padding-right: 20px;
  }
}