.TheSecondBlockOfInformation {
  margin: 90px 0 0 0;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: var(--unnamed, #ECF8FF);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 1170px;

  .people {
    margin-top: -26px;
    display: flex;
    justify-content: right;
  }

  .textBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    width: min(100% - 2rem, 498px);

  }

  h3 {
    text-align: left;
    padding-bottom: 32px;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
  }

  p {
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
}
