.Respond {
  width: 100%;

  .respondTitle {
    padding: 100px 0 40px 0;
    color: var(--unnamed, #161616);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }

  .customerFeedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}