.HomePage {
  display: flex;
  align-items: center;
  padding: 0 10px 0 120px;;

  .main {
    width: min(100% - 2rem, 574px);

    .mainSubtitle {
      color: var(--unnamed, #161616);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      text-align: left;
    }

    .mainTitle {
      color: var(--unnamed, #161616);
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      text-align: left;
    }

    p {
      text-align: left;
      padding: 24px 0 44px 0;
      color: var(--unnamed, #161616);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }

    .homeButton {
      height: 48px;
      padding: 0 32px;
      align-items: center;
      border: none;
      color: var(--unnamed, #FFF);
      font-size: 20px;
      font-style: normal;
      border-radius: 15px;
      background: var(--unnamed, #FF6B0A);
      box-shadow: 0 4px 4px 0 rgba(22, 22, 22, 0.15);
      cursor: pointer;

      &:hover {
        background: lighten(#FF6B0A, 5%);
      }
      &:active{
        background: darken(#FF6B0A, 5%);
      }
    }
  }
}