.ListOfBrandBenefits {
  margin-top: 40px;

  .pointsName {
    text-align: left;
    color: var(--unnamed, #161616);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 20px;
  }

  p {
    text-align: left;
    color: var(--unnamed, #161616);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }
  .ListOfBrandBenefitsImage {
    margin: 8px 12px 0 0;
  }
}