.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 800px;
  z-index: 1;
  background-color: rgba(22, 22, 22, 0.35);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: flex-end;

  .drawer {
    display: flex;
    right: 0;
    position: absolute;
    width: min(100% - 1rem, 450px);
    height: 100%;
    border-radius: 20px 0 0 20px;
    background: #ECF8FF;
    flex-direction: column;
    align-items: center;

    .drawerNav {
      margin-top: 12px;
      margin-bottom: 44px;
      display: flex;
      flex-direction: row;
      align-items: center;

      h2 {
        color: #161616;
        text-align: left;
        margin-right: 200px;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 141.176% */
      }

      .drawerClose {
        cursor: pointer;
        margin-top: -2px;
        width: 24px;
        height: 24px;
        opacity: 1;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .drawerTotalPrice{
      color: #161616;
      margin: 20px 10px;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px; /* 100% */
    }

    .drawerBottomNav {
      color: #161616;
      margin: 24px 0 40px 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .drawerOrderBtn {
        width: 280px;
        padding: 0 32px 0 32px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        background: #0084FE;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */

        &:hover {
          background: lighten(#0084FE, 5%);
        }

        &:active {
          background: darken(#0084FE, 5%);
        }
      }
    }

    .drawerItems {
      overflow: auto;
      height: 550px;
    }
  }
}
