.Advantages {
  padding-top: 52px;
  width: 466px;
  padding-right: 100px;

  h3 {
    display: flex;
    justify-content: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
  }
}
