.BrandInformation {
  width: 1280px;
  background: linear-gradient(360deg, #81C2F0 0%, #FFF 100%);

  h2 {
    padding-top: 130px;
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 172px;
  }
}