.HomePage {
  display: flex;
  justify-content: space-between;

  .mainСontent {
    width: 533px;
    height: 75px;
    margin: 0;
    padding: 180px 20px 0 100px;

    h2 {
      color: var(--unnamed, #161616);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
    }

    h1 {
      padding-top: 16px;
      color: var(--unnamed, #161616);
      font-size: 44px;
      font-style: normal;
      font-weight: 600;
    }

    p {
      padding: 24px 0 44px 0;
      color: var(--unnamed, #161616);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }

    .homeButton {
      display: flex;
      height: 48px;
      padding: 0 32px;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 15px;
      background: var(--unnamed, #FF6B0A);
      color: var(--unnamed, #FFF);
      font-size: 20px;
      font-style: normal;
      box-shadow: 0 4px 4px 0 rgba(22, 22, 22, 0.15);
    }
  }
}