.ListOfBrandBenefits {
  padding-top: 40px;

  .pointsName {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
  }

  img {
    padding-top: 12px;
    padding-right: 32px;
  }
}