.Respond {
  width: 1280px;

  .respondTitle {
    padding: 100px 0 40px 0;
    color: var(--unnamed, #161616);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }

  .leaveAReview {
    display: flex;
    justify-content: center;
  }

  .buttonLeaveAReview {
    border-radius: 15px;
    border: 0.5px solid var(--unnamed, #7F7F7F);
    background: #EEE;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    margin-top: 12px;
    text-align: center;
    width: 105px;
    height: 20px;
    flex-shrink: 0;
    color: var(--unnamed, #7F7F7F);
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 11.2px */
  }
}