.ApplicationForm {
  margin: 0 72px 0 120px;
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  width: min(100% - 2rem, 573px);
  height: 495px;

  h3 {
    color: var(--unnamed, #161616);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
  }

  label {
    margin: 32px 0 7px 0;
    color: var(--unnamed, #161616);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
  }

  .numberAndName {
    border-radius: 20px;
    border: 1.5px solid var(--unnamed, #0084FE);
    width: 360px;
    height: 36px;
    flex-shrink: 0;
  }

  .commentOnTheOrder {
    border-radius: 20px;
    border: 1.5px solid var(--unnamed, #0084FE);
    width: 360px;
    height: 56px;
    flex-shrink: 0;
  }

  .buttonApplicationForm {
    margin-top: 32px;
    width: 150px;
    height: 32px;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: var(--unnamed, #0084FE);
    color: var(--unnamed, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
  }
}