.Contacts {
  font-style: normal;

  .contactTitle {
    text-align: left;
    color: var(--unnamed, #161616);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    margin-bottom: 24px;
  }

  .contactsText {
    text-align: left;
    margin-bottom: 12px;
    color: var(--unnamed, #161616);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
  }

  .contactsData {
    color: var(--unnamed, #161616);
    text-decoration: none;
  }

  .contactsText:last-child {
    margin-bottom: 52px;
  }
}