.socialNetworksTitle {
  text-align: start;
  margin-bottom: 12px;
  color: var(--unnamed, #161616);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */

  .linkSocialNetwork {
    margin-right: 12px;
  }
}
