.DigitalSection {
  width: 1280px;
  padding-top: 80px;
  background: var(--unnamed, #FFF);
  color: var(--unnamed, #161616);

  .digitalTitle {
    color: var(--unnamed, #161616);
    padding-bottom: 32px;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
  }

  .digitalSubtitle {
    text-align: center;
    color: var(--unnamed, #161616);
    padding-bottom: 70px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }

  .digital {
    display: flex;
    justify-content: center;
  }
}